{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="web.css" />
        <link rel="stylesheet" media="(max-width:480px)" href="mobile.css" />
    </head>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script>
            function allowDrop(ev) {
                ev.preventDefault();
            }
            
            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }
            var numbers = new Array();
            var letter = new Array();
            var count=0;
            var lettercount=0;
            function click_transform() {
                
                
               letter[lettercount]=(numbers[0]*588)+((numbers[1]-100)*28)+(numbers[2])+44032;
               document.getElementById('result').innerHTML+=(String.fromCharCode(letter[lettercount]));
               lettercount++;
               $('.textbox img').remove();
               
             
                count =0;
            }
            function click_transfer() {
               
               /* var i =0;
                while(i<lettercount){
                document.getElementById('result').innerHTML+=(String.fromCharCode(letter[i]));
                i++;
                }
                */    
             }
            function drop(ev) {
                //ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                ev.target.append(document.getElementById(data));
                numbers[count] = Number(data);
                count ++;
               
                
                
               // $('p').text(String.fromCharCode((numbers[0]*588)+(numbers[1]*28)+(numbers[2])+44032));
               
            }
            
            </script>
    <body>
    <div id = "wrapper">

        <div class="header">
            <h3> </h3>
        </div>

        <div class = "main">

            <div id = "carousel" style="clear:both">
                    <div class="slide">
                        <img id="1" draggable="true" ondragstart="drag(event)" src = "{% static '1_0.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="2" draggable="true" ondragstart="drag(event)" src = "{% static '1_2.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_3" src = "{% static '1_3.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_5" src = "{% static '1_5.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="6" src= "{% static '1_6.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_7" src= "{% static '1_7.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_9" src = "{% static '1_9.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_11" src = "{% static '1_11.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_12" src = "{% static '1_12.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_14" src = "{% static '1_14.png' %}">
                    </div>
    
                    <div class="slide">
                        <img id="1_15" src = "{% static '1_15.png' %}">
                    </div>
                    
                    <div class="slide">
                        <img id="1_16" src = "{% static '1_16.png' %}">
                    </div>

                    <div class="slide">
                        <img id="1_17" src = "{% static '1_17.png' %}">
                    </div>

                    <div class="slide">
                        <img id="1_18" src = "{% static '1_18.png' %}">
                    </div>
    
                </div>


            <div class="center" style="width:100%; ">
                <div class="container" style="width:70%; height:300px;">
                    <div class="textbox"  ondrop="drop(event)" ondragover="allowDrop(event)" style = "border:1px solid; width:100%; height:100%">
                        <div class = "row">
                            <div class = "left">
    
                            </div>
                            <div class = "middle">
    
                            </div>
                            <div class = "right">
    
                            </div>
                        </div>
    
                        <div class = "row">
                            <div class = "left">
    
                            </div>
                            <div class = "middle">
    
                            </div>
                            <div class = "right">
                                
                            </div>
                        </div>
    
                        <div class = "row">
                            <div class = "left">
    
                            </div>
                            <div class = "middle">
    
                            </div>
                            <div class = "right">
                                
                            </div>
                        </div>
                    </div>
                </div>

                
                <div id = "carousel2" style="clear:both; height:300px;">
                        <div class="slide">
                            <img id="100" draggable="true" ondragstart="drag(event)" src = "{% static '2_0.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="101" draggable="true" ondragstart="drag(event)" src = "{% static '2_1.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2" src = "{% static '2_2.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_3" src = "{% static '2_3.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_4" src = "{% static '2_4.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_5" src = "{% static '2_5.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_6" src = "{% static '2_6.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_7" src = "{% static '2_7.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_8" src = "{% static '2_8.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_9" src = "{% static '2_9.png' %}">
                        </div>
        
                        <div class="slide">
                            <img id="2_10" src = "{% static '2_10.png' %}">
                        </div>
                        
                        <div class="slide">
                            <img id="2_11" src = "{% static '2_11.png' %}">
                        </div>
        
                    </div>

            </div>
            <br>

            <div id = "carousel" style="clear:both">
                <div class="slide">
                    <img id="1" draggable="true" ondragstart="drag(event)" src = "{% static '3_1.png' %}">
                </div>

                <div class="slide">
                    <img id="4" draggable="true" ondragstart="drag(event)" src = "{% static '3_4.png' %}">
                </div>

                <div class="slide">
                    <img id="3_7" src = "{% static '3_7.png' %}">
                </div>

                <div class="slide">
                    <img id="3_8" src = "{% static '3_8.png' %}">
                </div>

                <div class="slide">
                    <img id="3_16" src = "{% static '3_16.png' %}">
                </div>

                <div class="slide">
                    <img id="3_17" src = "{% static '3_17.png' %}">
                </div>

                <div class="slide">
                    <img id="3_19" src = "{% static '3_19.png' %}">
                </div>

                <div class="slide">
                    <img id="3_21" src = "{% static '3_21.png' %}">
                </div>

                <div class="slide">
                    <img id="3_22" src = "{% static '3_22.png' %}">
                </div>

                <div class="slide">
                    <img id="3_23" src = "{% static '3_23.png' %}">
                </div>

                <div class="slide">
                    <img id="3_24" src = "{% static '3_24.png' %}">
                </div>
                
                <div class="slide">
                    <img id="3_25" src = "{% static '3_25.png' %}">
                </div>

                <div class="slide">
                    <img id="3_26" src = "{% static '3_26.png' %}">
                </div>

                <div class="slide">
                    <img id="3_27" src = "{% static '3_27.png' %}">
                </div>
            </div>

            <div class="translate">
                <div class = "t_area">
                    <textarea name="content" id="result" cols="45" rows="2" style="float:left" > </textarea>
                    <input type = "image" id="button_transform" onclick="click_transform();" src = "{% static 'transform.png' %}" class = "transform-button" />
                </div>
                <div class = "mybtn">                
                    <input type = "button" id="button_transfer" onclick="click_transfer();" class = "btn btn-secondary" value="Translate"/>
                    <input type = "button" class = "btn btn-secondary" value="Sounds"/>
                </div>
            </div>

        </div>

        <div class="footer">
            <h3></h3>
        </div>
    
    </div> 
    </body>
</html>
<style>


#wrapper{
    max-width:480px;
    margin: 0 auto;
}

.center{
    margin-top: 20px;
    height: 320px;
    float: left;
}

.mybtn{
    width: 380px;
}


.textbox{
    display: table;
}

.translate{
    padding-top: 10px;
}

input.transform-button{
    margin: 5px;
    border: none;
    width: 42px;
    height: 42px;
    cursor:pointer;
}

.btn btn-secondary{
    vertical-align:middle; 
}

#carousel {
    width: 80%;
    height: 35px;
    overflow: auto;
}

#carousel2 {
    display: inline-block;
    width: 15%;
    height: 300px;
    overflow: auto;
}

#carousel .slide {
    display: inline-block;

}

.container{
    display: inline-block;
}

.row{
    display: table-row;
}

.left, .middle, .right{
    display: table-cell;
    border: 1px dashed;
}

</style>