

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {% load static %}
</head>
<body>
        <form action=" {% url 'tts' %}" method="POST">
                {% csrf_token %}
            <input type="text" name="text" placeholder="제목을 입력해 주세요"><br>
        </form>
 <audio controls>
    <source src="{% static 'gtts.mp3' %}" type="audio/mp3">
 </audio>

<!--
    <form action="" method="get">
        <input type="text" name="search" value="{{ search }}">
        <input type="submit" value="검색">
    </form>
-->